<extend name="Public/left"/>

<block name="body">
	<div class="container">
	    <!--right_wrap-->
	    <div class="right_wrap">
	      <div>
	        <h2>添加用户</h2>
	      </div>
	      <div class="wrap_content">
	      <form action="{:U('userAdd')}" method="post" class="">
	      <table>
	        <tfoot>
	          <tr>
	            <td>&nbsp;</td>
	            <td>&nbsp;</td>
	            <td>
	              <input type="submit" name="input" value="添加"></td>
	            <td>&nbsp;</td>
	          </tr>
	        </tfoot>
	        <tbody>
	          <tr>
	            <td>&nbsp;</td>
	            <td>用户名：</td>
	            <td>
	              <input type="text" name="username" id="usernname"></td>
	            <td>&nbsp;</td>
	          </tr>
	          <tr>
	            <td>&nbsp;</td>
	            <td>姓名：</td>
	            <td>
	              <input type="text"  name="fullname" id="fullname" /></td>
	            <td>&nbsp;</td>
	          </tr>
	          <tr>
	            <td>&nbsp;</td>
	            <td>性别：</td>
	            <td>
	                 <label>
		         		<input type="radio" name='sex' select=true value="男"> 男
			         </label>
			         <label>
			         	<input type="radio" name='sex' value="女"> 女
			         </label>
			     </td>
	            <td>&nbsp;</td>
	          </tr>
	          <tr>
	            <td>&nbsp;</td>
	            <td>职位：</td>
	            <td>
	              <input type="text"  name="position" id="position" /></td>
	            <td>&nbsp;</td>
	          </tr>
	          <tr>
	            <td>&nbsp;</td>
	            <td>部门：</td>
	            <td>
	            <select type="text" name="dept_id" id="dept_id">
		            <option select="selected" value=1>研发部</option>
		            <option  value=2>市场部</option>
		            <option  value=3>人力资源部</option>
		            <option  value=4>财务部</option>
		            <option  value=5>管理层</option>
	            </select>
	            </td>
	            <td>&nbsp;</td>
	          </tr>

	        </tbody>
	      </table>
	    </form>
	    </div>
	  </div>
  <!--//right_wrap-->
	</div>
</block>
